.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 40px);
  height: 100vh;
  background: url(/public/pokemon_ball.png) 50% 50% no-repeat;
  background-size: 300px auto;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
@media screen and (max-width:768px) {
  .loading {
    width: calc(100% + 20px);
  }
}
.pokemonCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
  gap: 20px;
}
@media screen and (max-width:768px) {
  .pokemonCardContainer {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media screen and (max-width:468px) {
  .pokemonCardContainer {
    grid-template-columns: 1fr;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0 40px;
}
.btn button {
  padding: 13px 32px;
  color: #222;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
}
.btn button:hover {
  transform: translateY(2px);
  box-shadow: none;
}